.reservas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(148, 148, 148, 0.418);
}

.jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.img_jogador {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.nome {
    color: white;
}