.reservas {
    display: flex;
    flex-direction: row;
    max-width: 780px;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

.jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.img_jogador {
    border: 2px solid rgb(230, 0, 0);
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.nome {
    font-weight: 600;
    color: rgb(230, 0, 0);
}