.link {
    color: var(--cor-texto);
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    transition: .2s;
}

.linkDestacado {
    color: var(--cor-secundaria);
}

.link:hover {
    scale: 1.5;
    transition: .2s;
}