.campo {
    position: relative;
    padding: 20px;
}

.jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.posicao_gl {
    position: absolute;
    top: 215px;
    left: 60px;
}

.posicao_zag1 {
    position: absolute;
    top: 350px;
    left: 180px;
}

.posicao_zag2 {
    position: absolute;
    top: 250px;
    left: 160px;
}

.posicao_zag3 {
    position: absolute;
    top: 150px;
    left: 160px;
}

.posicao_zag4 {
    position: absolute;
    top: 50px;
    left: 180px;
}

.posicao_vol1 {
    position: absolute;
    top: 140px;
    left: 300px;
}

.posicao_vol2 {
    position: absolute;
    top: 260px;
    left: 300px;
}

.posicao_mei1 {
    position: absolute;
    top: 320px;
    left: 420px;
}

.posicao_mei2 {
    position: absolute;
    top: 80px;
    left: 420px;
}

.posicao_atk1 {
    position: absolute;
    top: 260px;
    left: 600px;
}

.posicao_atk2 {
    position: absolute;
    top: 130px;
    left: 600px;
}

.img_jogador {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.nome {
    color: white;
}