header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    padding: 20px;
    font-size: 1.5em;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    font-weight: 600;
}

.logo img {
    width: 60px;
    animation: pulse 0.7s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }

    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }

    100% {
        transform: scale(1.1);
        filter: brightness(200%);
    }
}