* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-padrao);
}

:root {
  --cor-primaria: #181E27;
  --cor-secundaria: #f70f2a;
  --cor-texto: #ffffff;
  --font-padrao: "Merriweather", serif;
}